*.DS_Store
.build
#*.swp
cmake.in/docbook/
cmake.in/html/
cmake.in/latex/
cmake.in/rtf/
cmake.in/xml/
cmake.in/Platform.in/common/assets/
ldoc/
install/*
src/njli/xml.out
generated/*
xcuserdata/*
projects/static_libs/iOS/iOS.xcodeproj/project.xcworkspace/xcuserdata/
projects/static_libs/android/app/build/
projects/static_libs/android/build/
projects/static_libs/androidVR/build/
projects/static_libs/androidVR/app/build/
Xcode_build/
xcuserdata/
CMakeFiles/
ios_Xcode/
emscripten_Sublime/
tvos_Xcode/
lbullet.xml
lnjli.xml

projects/android_AndroidStudio/app/src/main/jniLibs/
projects/linux_Makefiles/

projects/macOS_Xcode/
projects/ios_Xcode/
projects/tvos_Xcode/

projects/macOS_UnixMakefiles/
thirdparty/
